@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.Welcome {
  background-image: url(../../assets/bg-home.png);
  width: 100%;
  height: 900px;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.jumbo-recharge {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 125px);
  margin-left: 150px;
  margin-right: 80px;
}

.quick-recharge {
  background: #fff;
  border-radius: 40px;
  padding: 50px;
  min-width: 395px;
  box-shadow: -13px 5px 126px rgba(235, 106, 43, 0.2);
  z-index: 1;
}

.qr-content > h3 {
  color: #124a80;
  font-size: 24px;
  margin-bottom: 40px;
}

.qr-options {
  margin-bottom: 60px;
}

.qr-options > p {
  color: #124a80;
  font-size: 10px;
  margin-bottom: 10px;
}

.options-list,
.qr-providers {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.options-list li {
  background: rgba(235, 106, 43, 0.1);
  border-radius: 10px;
  width: 50px;
  height: 50px;
  font-size: 8px;
  text-align: center;
  /* margin-right: 10px; */
}

.qr-providers li {
  width: 60px;
  height: 40px;
  /* margin-right: 10px; */
  background: rgba(235, 106, 43, 0.1);
  border-radius: 10px;
}

.options-list li:last-child,
.qr-providers li:last-child {
  margin-right: 0px;
}

.options-list li .material-icons,
.qr-providers li .material-icons {
  font-size: 18px;
  margin-bottom: 5px;
}

.options-list li > div,
.qr-providers li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.options-list li,
.qr-providers li {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgba(7, 7, 7, 0.2);
}

.options-list li.active,
.qr-providers li.active {
  background: #124a80;
  color: #fff;
}

.qr-providers {
  margin-bottom: 12px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs input {
  border-radius: 10px;
  border: 1px solid rgba(18, 74, 128, 0.5);
  font-size: 12px;
  color: #124a80;
  padding: 13px 22px;
  margin-bottom: 10px;
  outline: none;
}

.inputs input::placeholder {
  color: rgba(18, 74, 128, 0.5);
}

.inputs input:active,
.inputs input:focus {
  border: 1px solid rgba(18, 74, 128, 0.8);
}

.inputs input:last-child {
  margin-bottom: 0px;
}

.button-section {
  margin-top: 60px;
}

.button-section p {
  font-size: 14px;
  text-align: center;
  color: #124a80;
  margin-top: 12px;
}

.button-section p span {
  font-weight: bold;
}

.button-section .error-message {
  color: #eb312b;
  margin-top: 0px;
  margin-bottom: 16px;
}

.WelcomeText .Eclipse {
  position: absolute;
  left: 707px;
  top: 452px;
}

.WelcomeText .Eclipse1 {
  position: absolute;
  left: 804px;
  top: 407px;
}

.WelcomeText h2 {
  font-size: 55px; /*I Reduced the Size because Using their size did not give the desired effect*/
  font-weight: 400;
  line-height: 100%;
  font-family: Roboto;
  color: #124a80;
  width: 540px;
}

.WelcomeText h2 span {
  padding-top: 12px;
  font-weight: 700;
}

.WelcomeText p {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  font-family: Roboto;
  color: #eb6a2b;
  margin-top: 30px;
  width: 500px;
}

.WelcomeText button {
  width: 231px;
  height: 56px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  background-color: #eb6a2b;
  border: 0;
  border-radius: 20px;
  margin-top: 53px;
}

.Recharge {
  width: 100%;
  max-width: 1442px;
  background-color: #eb6a2b;
  height: 650px;
  display: flex;
  padding: 182px 100px 197px 100px;
}

.RechargeText h2 {
  color: white;
  font-size: 36px;
  font-weight: 500;
  font-family: Roboto;
  width: 70%;
  margin-bottom: 51px;
  line-height: 37px;
}

.RechargeText .Card {
  font-weight: 700;
  font-size: 48px;
  line-height: 49px;
}

.RechargeOption {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 800px;
}

.Rectangle {
  position: absolute;
  bottom: -60px;
  left: 60px;
}

.RechargeOptions {
  width: 40%;
}

.RechargeBox {
  background-color: rgba(255, 255, 255, 0.35);
  width: 149px;
  height: 152px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.RechargeBox img {
  height: 70px;
  margin: auto;
  width: 100%;
}

.RechargeOptions .RechargePara1 {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 20px;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  color: white;
}

.RechargeOptions .RechargePara2 {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  font-family: Roboto;
  color: white;
  width: 192px;
}

.QuickRecharge {
  width: 100%;
  max-width: 1442px;
}

.ColorRectangle {
  background-color: rgba(235, 106, 43, 0.58);
  width: 100%;
  height: 40px;
}

.ColorRectangle2 {
  background-color: #eb6a2b;
  height: 100%;
  width: 50%;
  margin-left: 60px;
}
.ColorRectangle3 {
  background-color: rgba(235, 106, 43, 0.58);
  height: 40px;
  width: 54.44%;
}

.QuickRechargeBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 80px 62px;
  width: 100%;
}

.QuickRechargeText {
  width: 541px;
}

.QuickRechargeText h2 {
  color: #124a80;
  font-weight: 700px;
  font-family: Roboto;
  font-size: 48px;
  margin: 0;
}

.RechargeButtons {
  margin-bottom: 40px;
  display: flex;
  margin-top: 20px;
}

.RechargeButtons .Data {
  width: 180px;
  height: 49px;
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  background-color: #eb6a2b;
}

.RechargeButtons .Airtime {
  width: 180px;
  height: 49px;
  color: rgba(18, 74, 128, 0.5);
  border: 2px solid rgba(18, 74, 128, 0.5);
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: #fff;
}

.SelectPlan {
  margin-top: 51px;
}

.NetworkSelect {
  width: 501px;
  margin: 10px auto;
  height: 50px;
  background-color: white;
  border: 1px solid #124a80;
  border-radius: 20px;
  color: #124a80;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  padding-left: 20px;
  appearance: none;
  background-image: url(../../assets/Vector\ 1.png);
  background-repeat: no-repeat;
  background-position: 453px 15px;
  cursor: pointer;
}

.SelectPlan input {
  width: 501px;
  margin: 10px auto;
  height: 50px;
  background-color: white;
  border: 1px solid #124a80;
  border-radius: 20px;
  color: #124a80;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  padding-left: 20px;
  appearance: none;
  background-image: url(../../assets/Ellipse\ 7.png);
  background-repeat: no-repeat;
  background-position: 453px 15px;
  cursor: pointer;
}

.QuickRechargeText > button {
  width: 231px;
  height: 56px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  border: 0;
  margin: 72px 0 20px;
  cursor: pointer;
  background-color: #eb6a2b;
}

.QuickRechargeText p {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto;
  line-height: 100%;
  color: #124a80;
}

.QuickRechargeText p span {
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
}

.QuickRechargePicture {
  height: 878px;
  width: 601px;
}

.QuickRechargePicture .PhoneMan {
  display: block;
  position: relative;
  margin: auto;
  z-index: 1;
}

.ellipse {
  position: absolute;
  z-index: 1;
  bottom: -1600px;
  left: 700px;
}

.ellipse1 {
  position: absolute;
  right: 180px;
  bottom: -1700px;
}

.Why {
  background-color: rgba(235, 106, 43, 0.1);
  height: 650px;
}

.WhyUs {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 128px 259px 128px 324px;
}

.WhyPicture {
  margin-right: 70px;
}

.WhyPicture .BlackMan {
  width: 316px;
  height: 394px;
  position: relative;
}

.WhyPicture .RectangleWhy {
  position: absolute;
  top: 2065px;
  left: 290px;
}

.WhyBody h2 {
  color: #124a80;
  font-size: 38px; /*48px Will not Work Here*/
  font-family: Roboto;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
  width: 344px;
}

.WhyBody p {
  color: #124a80;
  font-family: Roboto;
  font-weight: normal;
  line-height: 100%;
  font-size: 18px;
}

.WhyBody > p {
  margin-bottom: 20px;
}

.WhyBody button {
  width: 231px;
  height: 56px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 100%;
  border: 0;
  cursor: pointer;
  background-color: #eb6a2b;
  margin-top: 40px;
}

.DashboardContainer {
  width: 100%;
  height: 1510px;
  max-width: 1442px;
}

.ColorRectangle4 {
  background-color: rgba(235, 106, 43, 0.58);
  width: 100%;
  height: 40px;
}

.ColorRectangle5 {
  background-color: #eb6a2b94;
  height: 100%;
  width: 50%;
  margin-left: 60px;
}
.ColorRectangle6 {
  background-color: rgba(235, 106, 43, 0.58);
  height: 40px;
  width: 54.44%;
}
.DashboardPicture {
  margin: 100px auto;
}

.DashboardPicture img {
  margin: auto;
  display: block;
}

.DashCon {
  width: 100%;
}

.DashboardContainer h2 {
  color: #124a80;
  text-align: center;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  font-family: Roboto;
  width: 1000px;
  margin: auto;
}

.DashboardContainer button {
  margin: auto;
  display: block;
}

/*Responsiveness*/

@media screen and (max-width: 480px) {
  .Welcome {
    width: 100%;
    height: fit-content;
  }

  .WelcomeText {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin: auto;
  }

  .WelcomeText h2 {
    font-size: 35px;
    width: 80%;
    margin: 30px auto;
  }

  .WelcomeText p {
    font-size: 15px;
    width: 80%;
    margin: 30px auto;
  }

  .WelcomeText button {
    width: 80%;
    margin-left: 15%;
  }

  .Welcome .ManImage {
    display: none;
  }

  .Recharge {
    flex-direction: column;
    padding: 40px 50px 90px 50px;
    height: fit-content;
  }

  .Rectangle {
    display: none;
  }

  .RechargeOption {
    flex-direction: column;
    width: 100%;
  }

  .RechargeOptions {
    width: 100%;
    margin-top: 70px;
  }

  .RechargeOptions .RechargePara1 {
    font-size: 25px;
  }

  .RechargeOptions .RechargePara2 {
    font-size: 20px;
    width: 100%;
  }

  .QuickRechargeBody {
    flex-direction: column;
    padding: 80px 0px 0px;
  }

  .QuickRechargePicture {
    display: none;
  }

  .RechargeButtons {
    width: 90%;
    margin: 20px auto;
  }

  .QuickRechargeText {
    width: 100%;
    /* margin: auto; */
  }

  .QuickRechargeText h2 {
    font-size: 40px;
    text-align: center;
  }

  .NetworkSelect {
    width: 80%;
    margin: 20px auto;
    display: block;
    background-position: 95% 50%;
  }

  .SelectPlan input {
    width: 80%;
    margin: 20px auto;
    display: block;
    background-position: 95% 50%;
  }

  .QuickRechargeText > button {
    margin: auto;
    display: block;
    width: 80%;
    margin-bottom: 20px;
  }

  .QuickRechargeText > p {
    margin: 30px;
  }

  .Why {
    width: 100%;
    height: fit-content;
  }

  .WhyUs {
    flex-direction: column;
    padding: 50px 0px 0px 0px;
  }

  .WhyPicture {
    margin-right: 0px;
  }

  .WhyPicture .RectangleWhy {
    display: none;
  }

  .WhyBody h2 {
    text-align: center;
    width: 100%;
  }

  .WhyBody p {
    width: 90%;
    margin: 30px auto;
  }

  .WhyBody button {
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .DashboardContainer {
    height: fit-content;
  }

  .DashboardPicture .Pictures {
    width: 90%;
  }

  .DashboardContainer h2 {
    width: 90%;
    font-size: 40px;
  }

  .DashboardContainer button {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .Welcome {
    width: 100%;
    height: fit-content;
  }
  .jumbo-recharge {
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }

  .WelcomeText .Eclipse1 {
    display: none;
  }

  .WelcomeText .Eclipse {
    display: none;
  }

  .quick-recharge {
    width: 70%;
    margin-bottom: 20px;
  }

  .WelcomeText {
    width: 100%;
    margin: auto;
  }
  .WelcomeText h2 {
    width: 70%;
    margin: 30px auto;
  }

  .WelcomeText p {
    width: 70%;
    margin: 30px auto;
  }

  .Welcome .ManImage {
    display: none;
  }

  .WelcomeText button {
    width: 50%;
    margin-left: 15%;
    margin-bottom: 30px;
  }

  .Recharge {
    flex-direction: column;
    padding: 80px 50px 90px 50px;
  }

  .RechargeText h2 {
    width: 100%;
    text-align: center;
  }

  .Rectangle {
    display: none;
  }

  .Rectangle2 {
    display: none;
  }

  .RechargeOption {
    width: 100%;
  }

  .RechargeOptions {
    width: 100%;
  }

  .QuickRechargePicture {
    display: none;
  }

  .Why {
    width: 100%;
  }

  .WhyUs {
    padding: 50px 20px 0px 20px;
  }

  .WhyPicture .RectangleWhy {
    display: none;
  }

  .DashboardContainer {
    height: fit-content;
  }

  .DashboardPicture img {
    width: 90%;
  }

  .DashboardContainer h2 {
    width: 90%;
  }

  .DashboardContainer button {
    margin-bottom: 20px;
  }
}
