* {
  box-sizing: border-box;
  margin: 0;
}

.Welcome {
  background-image: url(../../assets/Rectangle\ 2.jpg);
  height: 900px;
  background-position: right top;
  background-repeat: no-repeat;
  position: relative;
}

.Welcome .ManImage {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 434px;
}

.WelcomeText {
  margin-left: 150px;
  margin-top: 200px;
  margin-right: 752px;
}

.WelcomeText h2 {
  font-size: 55px; /*I Reduced the Size because Using their size did not give the desired effect*/
  font-weight: 400;
  line-height: 100%;
  font-family: Roboto;
  color: #124a80;
  width: 540px;
}

.WelcomeText h2 span {
  padding-top: 12px;
  font-weight: 700;
}

.WelcomeText p {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  font-family: Roboto;
  color: #eb6a2b;
  margin-top: 30px;
  width: 500px;
}

.WelcomeText button {
  width: 231px;
  height: 56px;
  text-align: center;
  color: white;
  font-size: 24px;
  line-height: 100%;
  font-weight: 400;
  background-color: #eb6a2b;
  border: 0;
  border-radius: 20px;
  margin-top: 53px;
}

.Recharge {
  width: 100%;
  max-width: 1442px;
  background-color: #eb6a2b;
  height: 650px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 182px 141px 197px 150px;
}

.RechargeText {
  margin-right: 50px;
}

.RechargeText h2 {
  color: white;
  font-size: 36px;
  line-height: 100%;
  font-weight: 500;
  font-family: Roboto;
  /* width: 292px; */
}

.RechargeText .Card {
  font-weight: 700;
  font-size: 48px;
}

.RechargeOption {
  display: flex;
  justify-content: space-between;
  /* width: 60%; */
  /* background-color: red; */
}

.RechargeOptions {
  width: 33%;
}

.RechargeBox {
  background-color: rgba(255, 255, 255, 0.35);
  width: 149px;
  height: 152px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.RechargeBox img {
  height: 70px;
}

.RechargeBox img {
  margin: auto;
  width: 100%;
}

.RechargeOptions .RechargePara1 {
  text-align: center;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto;
  color: white;
}

.RechargeOptions .RechargePara2 {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  font-weight: 400;
  font-family: Roboto;
  color: white;
}

.QuickRecharge {
  width: 100%;
  max-width: 1442px;
  height: 1034px;
}

.ColorRectangle {
  background-color: rgba(235, 106, 43, 0.58);
  width: 100%;
  height: 40px;
}

.ColorRectangle2 {
  background-color: #eb6a2b;
  height: 100%;
  width: 50%;
  margin-left: 60px;
}
.ColorRectangle3 {
  background-color: rgba(235, 106, 43, 0.58);
  height: 40px;
  width: 54.44%;
}

.QuickRechargeBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 150px 62px;
  align-items: center;
  width: 100%;
}

.QuickRechargeText {
  width: 541px;
}

.QuickRechargeText h2 {
  color: #124a80;
  font-weight: 700px;
  font-family: Roboto;
  font-size: 48px;
  /* padding: 20px 0px; */
  margin: 0;
}

.RechargeButtons {
  margin-bottom: 40px;
  display: flex;
  margin-top: 20px;
}

.RechargeButtons .Data {
  width: 180px;
  height: 49px;
  color: white;
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-right: 20px;
  border-radius: 20px;
  cursor: pointer;
  border: 0;
  background-color: #eb6a2b;
}

.RechargeButtons .Airtime {
  width: 180px;
  height: 49px;
  color: rgba(18, 74, 128, 0.5);
  border: 2px solid rgba(18, 74, 128, 0.5);
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  border-radius: 20px;
  /* margin-left: 20px; */
  cursor: pointer;
  background-color: #fff;
}

.SelectPlan {
  margin-top: 51px;
}

.NetworkSelect {
  width: 501px;
  margin: 10px auto;
  height: 50px;
  background-color: white;
  border: 1px solid #124a80;
  border-radius: 20px;
  color: #124a80;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 400;
  padding-left: 20px;
}

.QuickRechargeText > button {
  width: 231px;
  height: 56px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  border: 0;
  margin: 72px 0 20px;
  cursor: pointer;
  background-color: #eb6a2b;
}

.QuickRechargeText p {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto;
  line-height: 100%;
  color: #124a80;
}

.QuickRechargeText p span a {
  font-weight: 900;
  text-decoration: none;
}

.QuickRechargePicture {
  height: 878px;
  width: 601px;
}

.QuickRechargePicture img {
  /* height: 100%; */
  width: 100%;
  margin: auto;
}

.Why {
  background-color: rgba(235, 106, 43, 0.1);
  height: 650px;
}

.WhyUs {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  width: 100%;
  padding: 128px 259px 128px 324px;
}

.WhyPicture {
  margin-right: 70px;
}

.WhyPicture img {
  width: 316px;
  height: 394px;
}

.WhyBody h2 {
  color: #124a80;
  font-size: 38px; /*48px Will not Work Here*/
  font-family: Roboto;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
  width: 344px;
}

.WhyBody p {
  color: #124a80;
  font-family: Roboto;
  font-weight: normal;
  line-height: 100%;
  font-size: 18px;
}

.WhyBody > p {
  margin-bottom: 20px;
}

.WhyBody button {
  width: 231px;
  height: 56px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 100%;
  border: 0;
  cursor: pointer;
  background-color: #eb6a2b;
  margin-top: 40px;
}

.DashboardContainer {
  width: 100%;
  height: 1510px;
  max-width: 1442px;
}

.ColorRectangle4 {
  background-color: rgba(235, 106, 43, 0.58);
  width: 100%;
  height: 40px;
}

.ColorRectangle5 {
  background-color: #eb6a2b94;
  height: 100%;
  width: 50%;
  margin-left: 60px;
}
.ColorRectangle6 {
  background-color: rgba(235, 106, 43, 0.58);
  height: 40px;
  width: 54.44%;
}
.DashboardPicture {
  width: 100%;
}

.DashboardPictures {
  display: flex;
  width: 40%;
  margin: auto;
}

.DashboardPictures img {
  width: 80%;
}

/* .firstPicture {
  position: relative;
}

.SecondPicture {
  position: absolute;
} */

.DashCon {
  width: 100%;
}

.DashConButton {
  width: 20%;
  margin: auto;
}

.DashboardContainer h2 {
  color: #124a80;
  text-align: center;
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  font-family: Roboto;
}

.DashboardContainer button {
  width: 269px;
  height: 56px;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  line-height: 100%;
  border: 0;
  font-weight: 400;
  margin-top: 50px;
  cursor: pointer;
  background-color: #eb6a2b;
}
