.container {
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.success-content {
  width: 45%;
  /* margin-right: 234px; */
}

.success-content h3 {
  font-size: 48px;
  color: #eb6a2b;
  font-weight: bold;
  font-family: Roboto;
  margin-bottom: 30px;
}

.success-content p {
  font-size: 18px;
  color: #124a80;
  font-family: Roboto;
  margin-bottom: 60px;
}

.success-image {
  width: 35%;
  background: #eb6a2b;
  border-radius: 33px;
  height: 520px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SuccessRetangle {
  position: absolute;
  top: 730px;
  left: 788px;
}

.loading-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(18, 74, 128, 0.1);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-box {
  background: #124a80;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
