.container {
    padding: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.success-content {
    width: 45%;
    /* margin-right: 234px; */
}

.success-content h3 {
    font-size: 48px;
    color: #EB6A2B;
    font-weight: bold;
    font-family: Roboto;
    margin-bottom: 30px;
}

.success-content p {
    font-size: 18px;
    color: #124A80;
    font-family: Roboto;
    margin-bottom: 60px;
}

.success-image {
    width: 35%;
    background: #EB6A2B;
    border-radius: 33px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
