@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.Header {
  width: 100%;
  max-width: 1442px;
  display: flex;
  justify-content: space-between;
  height: 125px;
  padding: 0px 80px;
  /* padding: 40px 80px; */
}

.HeaderLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeaderLogo img {
  margin-bottom: -2rem;
}

.NavHeader {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.NavLinks {
  display: flex;
  justify-content: space-between;
  margin-right: 5rem;
}

.NavLinks a :first-child {
  margin-left: 0px;
}

.auth-links {
  width: 280px;
  display: flex;
  justify-content: flex-end;
}

.Burger {
  width: 40px;
  height: 50px;
  display: none;
  position: relative;
  margin-top: 40px;
}

.line1 {
  background-color: chocolate;
  width: 100%;
  height: 8%;
  transition: 0.5s;
  top: -10px;
  position: absolute;
}

.line2 {
  background-color: chocolate;
  width: 100%;
  height: 8%;
  position: absolute;
}

.line3 {
  background-color: chocolate;
  width: 100%;
  height: 8%;
  transition: 0.5s;
  position: absolute;
  top: 10px;
}

.burger-show .line2 {
  display: none;
}

.burger-show .line1 {
  transform: rotate(45deg);
  top: 0;
}

.burger-show .line3 {
  top: 0;
  transform: rotate(135deg);
}

.NavLinks a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #124a80;
  margin-left: 50px;
  cursor: pointer;
}

.SignInButton {
  width: 10rem;
  background-color: #eb6a2b;
  border: 0;
  height: 45px;
  font-family: "Roboto";
  border-radius: 20px;
  /* border-radius: 20px 0px 0px 20px; */
  cursor: pointer;
  color: white;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  font-size: 18px;
}

.SignUpButton {
  width: 139px;
  background-color: #124a80;
  border: 0;
  height: 45px;
  color: white;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto";
  border-radius: 0px 20px 20px 0px;
  border: 2px solid #eb6a2b;
  cursor: pointer;
}

.Buttons a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 500px) {
  .Header {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }

  .scrolled {
    position: fixed;
    top: 0;
    left: 0;
  }

  .Burger {
    display: block;
    cursor: pointer;
  }

  .sticky {
    background-color: white;
  }

  .HeaderLogo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  .HeaderLogo img {
    margin-bottom: 0;
    margin: 20px;
  }

  .NavLinks a {
    margin-top: 20px;
    text-align: center;
  }

  .NavHeader {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100px;
    left: -100%;
    transition: all 0.5s ease;
    background-color: rgba(211, 211, 211, 0.8);
  }

  .show {
    left: 0;
  }

  .NavLinks {
    flex-direction: column;
    margin-right: 0px;
    width: 100%;
  }

  .SignInButton {
    display: block;
    width: 80%;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 0;
  }

  .SignUpButton {
    display: block;
    width: 80%;
    border: 0;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 0;
  }

  .NavHeader a {
    text-decoration: none;
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    padding: 10px 20px;
    width: 100%;
  }

  .NavLinks {
    margin-right: 15px;
  }

  .NavLinks a :first-child {
    margin-left: 0px;
  }

  .NavLinks a {
    margin-left: 40px;
  }

  .SignInButton {
    width: 100%;
    margin-right: 0;
  }

  .SignUpButton {
    width: 100%;
    margin-right: 0;
  }
}
