@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

.Header {
  width: 100%;
  max-width: 1442px;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px;
}

.HeaderLogo img {
  margin-bottom: -60px;
}

.NavHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.NavLinks {
  display: flex;
  justify-content: space-between;
  margin-right: 139px;
}

.NavLinks a :first-child {
  margin-left: 0px;
}

.Burger {
  width: 40px;
  height: 50px;
  display: none;
}

.line1 {
  background-color: chocolate;
  width: 100%;
  height: 7%;
}

.line2 {
  background-color: chocolate;
  width: 100%;
  height: 7%;
  margin-top: 7px;
}

.line3 {
  background-color: chocolate;
  width: 100%;
  height: 7%;
  margin-top: 7px;
}

.NavLinks a {
  text-decoration: none;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #124a80;
  margin-left: 50px;
  cursor: pointer;
}

.SignInButton {
  width: 139px;
  background-color: #eb6a2b;
  border: 0;
  height: 45px;
  font-family: "Roboto";
  border-radius: 20px 0px 0px 20px;
  cursor: pointer;
  color: white;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  font-size: 18px;
}

.SignUpButton {
  width: 139px;
  background-color: #fff;
  border: 0;
  height: 45px;
  color: #124a80;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto";
  border-radius: 0px 20px 20px 0px;
  border: 2px solid #eb6a2b;
  cursor: pointer;
}

.Buttons a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 500px) {
  .Header {
    flex-direction: column;
    padding: 0;
    align-items: flex-start;
  }

  .Burger {
    display: block;
    cursor: pointer;
  }

  .HeaderLogo {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }

  .HeaderLogo img {
    margin-bottom: 0;
    margin: 20px;
  }

  .NavLinks a {
    margin-top: 20px;
    text-align: center;
  }

  .NavHeader {
    flex-direction: column;
    width: 100%;
    display: none;
  }

  .NavLinks {
    flex-direction: column;
    margin-right: 0;
    width: 100%;
  }

  .SignInButton {
    display: block;
    width: 50%;
    border-radius: 20px;
    margin: 20px auto;
  }

  .SignUpButton {
    display: block;
    width: 50%;
    border: 0;
    border-radius: 20px;
    margin: 20px auto;
  }

  .NavHeader a {
    text-decoration: none;
    width: 80%;
  }

  .show {
    display: block;
  }
}

@media screen and (max-width: 1024px) {
  .Header {
    padding: 40px 20px;
    width: 100%;
  }

  .NavLinks {
    margin-right: 50px;
  }

  .NavLinks a :first-child {
    margin-left: 0px;
  }

  .NavLinks a {
    margin-left: 40px;
  }

  .SignInButton {
    width: 100%;
    margin-right: 0;
  }

  .SignUpButton {
    width: 100%;
    margin-right: 0;
  }
}
