* {
  box-sizing: border-box;
  margin: 0;
}

.Footer {
  width: 100%;
  max-width: 1442px;
  background-color: #eb6a2b;
  height: 426px;
}

.FooterHeader {
  border-bottom: 3px solid white;
  padding: 172px 130px 43px 132px;
  height: 350px;
}

.FooterContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.FooterText h2 {
  font-weight: 400;
  font-family: Roboto;
  font-size: 24px;
  color: white;
  line-height: 100%;
  margin-bottom: 79px;
}

.FooterText > span {
  padding-top: 50px;
}

.FooterNewsletter h2 {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 22px;
  line-height: 100%;
  font-family: Roboto;
  /* padding: 50px 0px; */
}

.NewsletterBody {
  display: flex;
  margin-bottom: 71px;
}

.NewsletterBody input {
  width: 361px;
  height: 56px;
  background-color: rgba(0, 0, 0, 0.28);
  padding-left: 40px;
  color: white;
  border: 0;
}

.NewsletterBody button {
  width: 130px;
  height: 56px;
  background-color: #124a80;
  border: 0;
  color: white;
  font-size: 14px;
  font-weight: 700;
  font-family: Roboto;
  line-height: 100%;
}

.FooterBody {
  margin: 0px 140px;
  padding-top: 35px;
}

.FooterBody p {
  color: white;
  font-size: 12px;
  line-height: 100%;
  font-family: Poppins;
}
