* {
  box-sizing: border-box;
  margin: 0;
}

.CardWelcome {
  width: 100%;
  height: 900px;
  max-width: 1442px;
}

.CardWelcomeBody {
  margin-top: 302px;
  margin-left: 150px;
}

.CardWelcome h2 {
  color: #124a80;
  font-size: 36px;
  font-weight: 400;
  line-height: 100%;
  width: 614px;
}

.CardWelcomeBody h2 span {
  font-weight: 700;
}

.CardWelcomeBody button {
  width: 231px;
  height: 56px;
}

.WhatWeOffer {
  width: 100%;
  max-width: 1442px;
  height: 900px;
  background-color: #fdf0ea;
  padding: 126px 175px 79px;
}

.WhatWeOffer > div {
  display: flex;
  margin-bottom: 70px;
  align-items: center;
}

.WhatWeOffer > div h2 {
  color: #124a80;
  margin-left: 70px;
  width: 392px;
  font-size: 46px; /*Reduced the font so that it will break nicely*/
  font-weight: 400;
  line-height: 100%;
  font-family: Roboto;
}

.WhatWeOffer > div h2 span {
  font-weight: 700;
}

.WhatWeOffer p {
  color: #124a80;
  text-align: justify;
  font-family: Roboto;
  line-height: 100%;
}

.WhatCardDo {
  width: 100%;
  max-width: 1442px;
  height: 1312px;
  padding-left: 310px;
  padding-right: 284px;
}

.WhatCardDo h2 {
  color: #eb6a2b;
  text-align: center;
  margin-top: 173px;
  margin-left: 97px;
  width: 625px;
  font-size: 64px;
  margin-bottom: 94px;
  line-height: 100%;
  font-family: Roboto;
  font-weight: bold;
}

.ContainerCard {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 120px;
}

.Container > div {
  width: 149px;
  height: 152px;
  background-color: #fdf0ea;
  border-radius: 20px;
}

.Container p {
  color: #124a80;
  margin-top: 18px;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  width: 95px;
  margin: 18px auto;
}

.Images img {
  width: 100%;
  height: 100%;
}

.Images .FirstPicture {
  position: relative;
  width: 465px;
  height: 449px;
  margin-left: 22px;
}

.Images .SecondPicture {
  position: absolute;
  width: 465px;
  height: 317px;
  top: 2710px;
  left: 671px;
}

.CustomizedCards {
  width: 100%;
  max-width: 1442px;
  height: 855px;
  padding: 0 141px;
  padding-top: 227px;
  background-color: #fdf0ea;
  display: flex;
}

.CardsRequest h2 {
  color: #eb6a2b;
  font-size: 48px;
  font-family: Roboto;
  line-height: 100%;
  font-weight: 700;
  margin-bottom: 20px;
}

.CardsRequest p {
  color: #124a80;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 100%;
  width: 569px;
  margin-bottom: 50px;
}

.CardsRequest select {
  width: 501px;
  height: 52px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #124a80;
  margin-top: 20px;
  padding-left: 15px;
  color: #124a80;
}

.CardsRequest select:first-child {
  margin-top: 0;
}

.CardPicture {
  margin-top: 100px;
}
